<HTML>
    <div class="head">
        <h1>Putting League
            <img src="./assets/tink.png" 
            alt="BPL Logo" />
        </h1>
        <h2>     
            <button class="button" (click)='addPlayer()'>Add Player</button>
            <button class="button" (click)="loadPrevious()">Refresh</button>
            <button class="button" (click)="saveFile()">Save File</button>
            <button class="button" (click)="Remove()">Reset</button>    
            
        </h2>
    </div>


    <div class="body">

        <div #buttonsContainer style="display:flex 100px; flex-wrap:wrap"></div>

    </div>

    <router-outlet></router-outlet>
    
</HTML>

